<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<appSettings>
		<add key="ServiceName" value="mmamsgqd"/>
		<add key="ThreadWaitDelay" value="10000"/>
		<add key="ThreadShutdownDelay" value="20000"/>
		<add key="TwitterOAuthConsumerKey" value="eBNyrbbUDhGZCXOg5EtJoSFGa"/>
		<add key="TwitterOAuthConsumerSecret" value="WPPJwv0psaPFHu3Lsool87mLIf0emkZjW0ibpIk2ZMYNGctFqB"/>
		<!--add key="TwitterOAuthConsumerKey" value="l27KvGZnRUkj3Hwtr2VdTINJH"/>
		<add key="TwitterOAuthConsumerSecret" value="0RfHS9fi5NVw6ReZw64wI4NGc3lq8V69dYXLwbcnaqZjLmRXiI"/-->
		<!--add key="TwitterOAuthConsumerKey" value="CDaABPn6X5oJ0XVsJPgfGViGJ"/>
		<add key="TwitterOAuthConsumerSecret" value="ixZjwJincGyiT2ctIShuY0SAunYOMK4G39lyzB5ZKwxxAwlzkw"/-->

	</appSettings>
	<connectionStrings>
		<add name="DbConnectionString" connectionString="Server=127.0.0.1;Port=5432;User Id=mma;Password=fs5Vdld4ma5Dmi;Database=mma;Encoding=Unicode" />
	</connectionStrings>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Error" internalLogToConsoleError="true">
		<targets>
			<target name="file" xsi:type="File" fileName="/home/aeye/mmadeploy/msgqd/msgqd.log" layout="[${longdate}] [${callsite:className=true:includeSourcePath=false:methodName=true}] [${level:uppercase=true}]: ${message}" />
		</targets>
		<rules>
			<!-- Trace, Debug, Info, Warn, Error, Fatal -->
	       		<!--logger name="*" minlevel="Debug" writeTo="console" /-->
			<logger name="*" minlevel="Info" writeTo="file" />
		</rules>
	</nlog>
</configuration>
